.btn-recover{
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    background-color: rgb(27, 146, 220);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
.form-recover > div:nth-child(5) {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}